appmode
ipykernel
ipysheet
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
matplotlib
mip
nbconvert
nbformat
notebook
numpy
numpydoc
pandas
pandocfilters
voila
